@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --shadow-glow: 0 4px 12px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
                 0 2px 6px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
}

@custom-variant pointer-fine {
  @media (pointer: fine) {
    @slot;
  }
}
/* @import "./sidebar.css"; */

:root {
  color-scheme: light dark;
}
body {
  color: light-dark(var(--light), var(--dark));
}

@keyframes indeterminate {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-100%);
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  shape-margin: 1rem;
}