@import "tailwindcss";
@plugin "@tailwindcss/forms";
/* @import "./sidebar.css"; */

:root {
  color-scheme: light dark;
}
body {
  color: light-dark(var(--light), var(--dark));
}

img {
  vertical-align: middle;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  shape-margin: 1rem;
}